// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a:hover {
  text-decoration: none;
}

.table > tbody > tr > td.actions {
  padding: 0;

  a > span {
    padding: 11px 7px;
  }
}

.table>tbody>tr>td.actions {
  padding: 0;
}
